{% load staticfiles %}

<!-- Bootstrap core CSS --><!-- 
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

   <!--  1<img src="{% static "my_app/myexample.jpg" %}" alt="My image"/> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
   <!--  <link href="navbar-static-top.css" rel="stylesheet"> -->
    <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">